#ignore these files

*.bak
*.xlsx
*.doc*
*.tmp
*.pdf
*.db
*.spec


ToDo.txt



.pylint.d/*

__pycache__/*

dist/*
build/*
Python/*
web_version/*
Documentation/*
ExcelVersion/*
WebDocs/site/*
Codebase.zip


.spyproject/*
